!!! XML
!!! Strict
%html{html_attrs("en")}
  %head
    %meta{content_type_attrs("text/html")}
    %title=yield(:title)
    = render :partial => "shared/css_includes"
    = render :partial => "shared/js_includes"
  %body
    #content
      .container_16
        .grid_16#header
          .grid_6.alpha
            =image_tag "question_logo.png"
          .grid_8.prefix_2.omega
            -if logged_in?
              =render :partial => "shared/header_info_box"
            -else
              =render :partial => "sessions/new"              
          
        .grid_16
          = yield
        .clear
              
    %br.clear
    = render :partial => "shared/footer"
    = yield :javascript